[ServiceCategoryList ServiceAside]
slug = "{{ :category }}"
==
{#<ul class="border border-[#eff1f5] flex flex-col mb-6">
    {% for obItem in ServiceAside.get() %}
    <li>
        <a href="{{ 'services/category' | page ({ category: obItem.slug }) }}" class="border-b block text-[#333] py-5 px-6 {{ this.param.category == obItem.slug ? 'bg-[#f8f9fb] font-bold' }} hover:text-primary">{{ obItem.name }}</a>
    </li>
    {% endfor %}
</ul>
#}
{# partial 'common/aside-buttons' #}



<ul class="flex flex-col w-full space-y-3 mb-6">
    <!-- <li class="my-px">
        <a href="#" class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 bg-gray-100">
            <span class="flex items-center justify-center text-lg text-gray-400">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                    <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
            </span>
            <span class="ml-3">Dashboard</span>
            <span class="flex items-center justify-center text-sm text-gray-500 font-semibold bg-gray-200 h-6 px-2 rounded-full ml-auto">3</span>
        </a>
    </li> -->
    <!-- <li class="my-px">
        <span class="flex font-medium text-sm text-gray-400 px-4 my-4 uppercase">Услуги</span>
    </li> -->
    {% for obItem in ServiceAside.get() %}
    <li>
        <a href="#" class="border flex flex-row items-center h-14 px-4 rounded-lg hover:bg-gray-100">
            <span class="flex items-center justify-center text-lg text-primary">
                {% partial 'icon' icon=obItem.icon_svg s=3 %}
            </span>
            <span class="ml-3">{{ obItem.name }}</span>
        </a>
    </li>
    {% endfor %}
</ul>