<footer class="bg-[#2f3338] text-silver py-20">
    <div class="container">
        <div class="grid md:grid-cols-12 gap-6 pb-20">
            {% for obColumn in arItems %}
            <div class="md:col-span-3">
                <a class="text-white uppercase font-bold transition-all duration-300 hover:text-primary" href="{{ obColumn.url }}">{{ obColumn.title }}</a>
                <ul class="space-y-3 mt-5">
                    {% for obItem in obColumn.items %}
                    <li>
                        <a class="transition-all duration-300 hover:text-primary" href="{{ obItem.url }}">{{ obItem.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <div class="md:col-span-3 col-sm-12 contact-block">
                <a class="text-white uppercase font-bold transition-all duration-300 hover:text-primary" href="{{ 'common/contacts' | page }}">Контакты</a>
                <div class="">
                    <a href="tel:{{ this.theme.phone | replace({' ': '', '-': '', '(': '', ')': ''}) }}" class="flex w-full text-white py-4  items-center transition-all hover:shadow-out" title="Заказать звонок">
                        {% partial 'icon' icon='microphone' s=2 css='mr-4' %}
                        <span class="">{{ this.theme.phone }}</span>
                    </a>
                    <a href="mailto:{{ this.theme.email }}" class="flex w-full text-white py-4  items-center transition-all hover:shadow-out" title="Заказать звонок">
                        {% partial 'icon' icon='envelope-open' s=2 css='mr-4' %}
                        <span class="">{{ this.theme.email }}</span>
                    </a>
                    <a href="{{ this.theme.map_link }}" class="flex w-full text-white py-4  items-center transition-all hover:shadow-out" title="Заказать звонок">
                        {% partial 'icon' icon='map-pin' s=2 css='mr-4' %}
                        <span class="">{{ this.theme.address | raw }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="relative flex justify-center before:absolute before:top-1/2 before:h-[1px] before:bg-white/20 before:w-full">
            <ul class="relative px-5 bg-[#2f3338]">
                {% for obSocial in this.theme.social_links %}
                <li class="m-1 inline-block">
                    <a href="{{ obSocial.url }}" class="relative text-white flex items-center justify-center w-11 h-11 rounded border transition-all opacity-50 hover:opacity-100" target="_blank">
                        <span class="absolute opacity-0">{{ obSocial.name }}</span>
                        {% partial 'icon' icon=obSocial.name s=1 %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container mx-auto flex justify-center text-center py-3 text-silver">
        <span>Copyright © 2017 - {{ 'now' | date ('Y')  }}. Сайт сделан компанией <a class="text-primary" href="https://albus-it.ru/">Альбус</a>. Все права защищены.</span>
    </div>
</footer>