[Slider]
==
<section class="">
    <div class="swiper standart-navigation" data-lazy="slider" data-loop="true" data-autoplay="true">
        <div class="swiper-wrapper">
            {% for obBanner in Slider.get() %}
            <div class="swiper-slide flex items-center justify-center relative isolate overflow-hidden py-12 h-auto">
                <img class="absolute w-full h-full top-0 object-cover z-[-2]" src="{{ obBanner.background.path }}" alt="">
                <div class="absolute inset-0 bg-black/20 z-[-1]"></div>
                <div class="container text-white">
                    <div class="w-3/4">
                        <h3 class="text-primary text-xl font-bold uppercase mb-4 drop-shadow-md">{{ obBanner.subtitle }}</h3>
                        <h2 class="text-5xl font-bold mb-4 drop-shadow-md">{{ obBanner.title }}</h2>
                        <p class="text-lg font-semibold drop-shadow-md">{{ obBanner.text }}</p>
                        <p class="mt-4 space-x-4">
                            <a href="https://muffle.droitlab.com/contact/" class="btn btn-default">Контакты</a>
                            <a href="https://muffle.droitlab.com/about-us/" class="btn btn-white">Услуги</a>
                        </p>
                    </div>
                </div>
                {% if obBanner.image.path %}
                <img class="right-10 absolute w-1/4" src="{{ obBanner.image.path }}" alt="">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev">
            {% partial 'ui/icon' icon='slider-arrow-left' s=1 %}
        </div>
        <div class="swiper-button-next autoplay-progress">
            {% partial 'ui/icon' icon='slider-arrow-left' s=1 %}
            <svg class="autoplay-circle" viewBox="0 0 48 48">
                <circle cx="24" cy="24" r="20"></circle>
            </svg>
        </div>
    </div>
</section>