[Slider]
==
<section class="">
    <div class="swiper" data-lazy="slider" data-autoplay="true">
        <div class="swiper-wrapper">
            {% for obBanner in Slider.get() %}
            <div class="swiper-slide relative isolate overflow-hidden pb-32 pt-48 h-auto">
                <img class="absolute w-full h-full top-0 object-cover z-[-2]" src="{{ obBanner.background.path }}" alt="">
                <div class="absolute inset-0 bg-black/30 z-[-1]"></div>
                <div class="container text-white">
                    <div class="w-3/4">
                        <h3 class="text-primary text-xl font-bold uppercase mb-4 drop-shadow-md">{{ obBanner.subtitle }}</h3>
                        <h2 class="text-7xl font-bold mb-4 drop-shadow-md">{{ obBanner.title }}</h2>
                        <p class="text-lg font-semibold drop-shadow-md">{{ obBanner.text }}</p>
                        <p class="mt-4 space-x-4">
                            <a href="https://muffle.droitlab.com/contact/" class="btn btn-default">Контакты</a>
                            <a href="https://muffle.droitlab.com/about-us/" class="btn btn-white">Услуги</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev">
            {% partial 'icon' icon='arrow-right-bold' s=4 %}
        </div>
        <div class="swiper-button-next">
            {% partial 'icon' icon='arrow-right-bold' s=4 %}
        </div>
    </div>
</section>
<dialog>
    <p>Полинезийцы называют Млечный путь Манго-Роа-И-Ата, 
       что в переводе с маори означает «Длинная акула на рассвете».</p>
    <p><button id="closeDialog">Закрыть окно</button></p>
</dialog>