[ServiceCategoryList]
categoryPage = "services/category"

[PriceList]
==
{% set arPackages = [
    {
        title: 'Сопровождение 1С',
        slug: 'soprovojdenie',
        arItems: [
            {
                'name': 'Стартовый',
                'price': 8000,
                price_type: 'month',
                'suitable_for': 'Маленькие компании',
                'services': [
                    'Создание и сопровождение сайта',
                    'Установка и настройка 1С',
                    'Подготовка отчетности в контролирующие органы',
                    'Бухгалтерское сопровождение',
                    'Консультации по вопросам IT'
                ]
            },
            {
                'name': 'Продвинутый',
                'price': 15000,
                price_type: 'month',
                'suitable_for': 'Средние компании',
                'services': [
                    'Все услуги из пакета "Стартовый"',
                    'Ремонт и обслуживание ПК',
                    'Настройка оборудования',
                    'Резервное копирование данных',
                    'Обновление и безопасность'
                ]
            },
            {
                'name': 'Премиум',
                'price': 25000,
                price_type: 'month',
                'suitable_for': 'Крупные компании',
                'services': [
                    'Все услуги из пакета "Продвинутый"',
                    'Создание корпоративных почт',
                    'Индивидуальный дизайн сайта',
                    'Расширенное SEO-продвижение',
                    'Дополнительная консультация'
                ]
            }
        ]
    },
    {
        title: 'Разрабока сайта',
        slug: 'soprovojdenie',
        partial: 'website-item',
        arItems: [
            {
                'name': 'Landing-page',
                'price': 20000,
                time: '7 раб. дней',
                'suitable_for': 'Стартап, реклама продукта',
                'services': [
                    'Создание и сопровождение сайта',
                    'Установка и настройка 1С',
                    'Подготовка отчетности в контролирующие органы',
                    'Бухгалтерское сопровождение',
                    'Консультации по вопросам IT'
                ]
            },
            {
                'name': 'Корпоратинвый',
                'price': 60000,
                time: '25 раб. дней',
                'suitable_for': 'Крупные компании',
                'services': [
                    'Все услуги из пакета "Продвинутый"',
                    'Создание корпоративных почт',
                    'Индивидуальный дизайн сайта',
                    'Расширенное SEO-продвижение',
                    'Дополнительная консультация'
                ]
            },
            {
                'name': 'Магазин',
                'price': 100000,
                time: '1 раб. мес.',
                'suitable_for': 'Онлайн продажи товара',
                'services': [
                    'Все услуги из пакета "Стартовый"',
                    'Ремонт и обслуживание ПК',
                    'Настройка оборудования',
                    'Резервное копирование данных',
                    'Обновление и безопасность'
                ]
            },
            {
                'name': 'Интернет-портал',
                'price': 150000,
                'suitable_for': 'Нестандартное решение',
                time: '3 мес.',
                'services': [
                    'Все услуги из пакета "Стартовый"',
                    'Ремонт и обслуживание ПК',
                    'Настройка оборудования',
                    'Резервное копирование данных',
                    'Обновление и безопасность'
                ]
            },
        ]
    },
] %}


{% set arCategories = PriceList.get() %}
<section class=" section-box" x-cloak>
    <div class="container py-12">
        <h2 class="text-4xl font-semibold font-serif mb-6">Корпоративные тарифы</h2>
        <div class="tab-area" data-lazy="tabs">
            <ul class="flex items-center space-x-8 mb-10">
                {% for obCategory in arCategories %}
                    {% if obCategory.services %}
                        <li>
                            <button class="group transition-all hover:text-primary relative {{ loop.first ? 'active' }}" type="button" data-tab="#prices_{{ loop.index }}">
                                <div class="font-bold text-lg">{{ obCategory.name }}</div>
                                <div class="absolute w-0 transition-all group-[.active]:w-full h-1 bg-primary mt-2"></div>
                            </button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for obCategory in arCategories %}
                    {% if obCategory.services %}
                        <div class="tab-pane {{ loop.first ? 'open' }}" id="prices_{{ loop.index }}" role="tabpanel">
                            <div class="swiper pb-20 py-4" data-lazy="slider" data-space-between="10" data-breakpoints='{"768": {"slidesPerView": 2, "spaceBetween": 20}, "1200": {"slidesPerView": 3, "spaceBetween": 30}}'>
                                <div class="swiper-wrapper">
                                    {% for obService in obCategory.services %}
                                    <div class="swiper-slide">
                                        {% if hasPartial('services/element/list/' ~ obCategory.slug) %}
                                            {% partial 'services/element/list/' ~ obCategory.slug obService=obService %}
                                        {% else %}
                                            <p>Card not found!</p>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="flex items-center justify-center space-x-4 mt-5">
                                    <button type="button" role="presentation" class="swiper-button-prev">
                                        {% partial 'ui/icon' icon='slider-arrow-left' s=1 %}
                                    </button>
                                    <button type="button" role="presentation" class="swiper-button-next">
                                        {% partial 'ui/icon' icon='slider-arrow-left' s=1 %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>