{% set url = obService.getPageUrl('services/service-item') %}
<div class="bg-white rounded-3xl shadow-round border flex max-lg:flex-col p-10 transition-all hover:shadow-md hover:-translate-y-0.5">
    {% if obService.cover %}
    <a href="{{ url }}" class="block max-lg:w-full max-lg:mb-6 lg:max-w-[250px] mr-10 shrink-0 self-start">
        <img src="{{ obService.cover.path }}" alt="{{ obService.name }}" width="509" height="338" title="{{ obService.name }}" class="rounded-xl w-full">
    </a>
    {% endif %}
    <div class="info">
        <div class="text-xl mb-4">
            <a href="{{ url }}" class="transition-all duration-150 hover:text-primary">
                {{ obService.name }}
            </a>
        </div>
        <a href="{{ url }}">
            <p>{{ obService.preview_text }}</p>
        </a>
        {% if obService.price_type == 'from' or obService.price_type == 'depends' %}
            {% set sBefore = obService.getPriceTypeOptions[obService.price_type][0] %}
        {% elseif obService.price_type != 'month' or obService.price_type == 'hour'  %}
            {% set sAfter = obService.getPriceTypeOptions[obService.price_type][0] %}
        {% endif %}
        <div class="prices mt-6">
            <div class="text-lg font-bold">{{ sBefore ? sBefore ~ ' ' }}{{ obService.price ? obService.price | number_format(0, ',', ' ') ~ ' руб.' }}{{ sAfter ? ' ' ~ sBefore  }}</div>
        </div>
    </div>
</div>