<section class="breadcrumbs">
    <div class="container py-6">
        <ol class="breadcrumb text-silver" itemscope itemtype="https://schema.org/BreadcrumbList">
            {% placeholder breadcrumbs default %}
                {% set defBreadcrumbs = [
                    { title: 'Главная', url: '/' },
                    { title: this.page.title, url: this.page.url }
                ] %}
                {% partial 'common/breadcrumbs/items' arItems=defBreadcrumbs %}
            {% endplaceholder %}
        </ol>
        {% set hide_br_title = placeholder('hide_br_title') %}
        {% if not hide_br_title %}
        <!-- <h1 class="text-5xl mt-2">{{ this.page.title }}</h1> -->
        {% endif %}
    </div>
</section>