{% if obActiveCategoryItem.children.isNotEmpty() %}
<div class="bg-gray-100 py-12 shadow-inner">
    <div class="container">
        <div class="grid lg:grid-cols-3 gap-8">
            {% for obCategory in obActiveCategoryItem.children %}
                {% partial 'products/category/list/item' obCategory=obCategory %}
            {% endfor %}
        </div>
        {% if obActiveCategoryItem.parent.isNotEmpty() %}
            {% set previousPage = obActiveCategoryItem.getPageUrl('catalog/index') %}
        {% else %}
            {% set previousPage = 'catalog/list' | page %}
        {% endif %}
        <p class="text-center mt-10">
            <a href="{{ previousPage }}" class="btn btn-default">Вернуться назад</a>
        </p>
    </div>
</div>
{% else %}
<section class="pb-12">
<div class="container flex">
    <div class="w-80 mr-4">
        <div class=" bg-white shadow-round rounded-3xl">
            {% partial 'products/filter/form' %}
        </div>
    </div>
    <div class="w-full">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6" id="product-list">
            {% partial 'products/product/list/row' %}
        </div>
    </div>
</div>
</section>
{% endif %}